{% extends 'layout.twig' %}

{% use "social.twig" %}

{% use "adv.twig" %}

{% block content %}

    {% if isAdmin == false %}
        <style>
            .glyphicon-download, #savePlayList, #loadPlayList {
                display: none;
            }
        </style>
    {% endif %}

    <div class="col-md-7">
        <div id="searchForm" class="col-md-12">
            <input type="text" class="form-control col-md-12"  id="trackName" >
            <button type="button" id="searchTrack" class="btn btn-primary">Поиск</button>
        </div>
        <div id="result" class="col-md-12"></div>
    </div>

    <div class="col-md-5">
        <div class="audio-player col-md-12">
            <h1 id="song-name">Не выбрано</h1>
            <audio id="audio-player" src="empty" type="audio/mp3" controls="controls"></audio>
            <input type='hidden' id='currentSongNumber' value='0'>
        </div><br>
        <div class="col-md-12" style="margin-top: 20px;">
            <button type="button" id="cleanPlayList" class="btn btn-danger">Очистить</button>
            <button type="button" id="savePlayList" class="btn btn-primary" data-toggle="modal" data-target="#saveModal">Сохранить</button>
            <button type="button" id="loadPlayList" class="btn btn-default" data-toggle="modal" data-target="#loadModal">Загрузить</button><br><br>
            <ul id="playList" class="list-group" style="width: 100%;"></ul>
        </div>
    </div>

    <div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="loadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Отмена</span></button>
                    <h4 class="modal-title" id="myModalLabel">Загрузить плей-лист</h4>
                </div>
                <div class="modal-body">
                    <select class="form-control" id="playLists">
                        {% for playList in playLists %}
                            <option value="{{ playList.id }}">{{ playList.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" id="loadPlayListSongs">Загрузить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Отмена</span></button>
                    <h4 class="modal-title" id="myModalLabel">Сохранить плей-лист</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control col-md-12" placeholder="Введите название плей-листа" id="playListName" required="255"><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" id="savePlayListName">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/web/js/player.js"></script>
    <script>
        var  playerObj;

        function displaySongs(response) {
            var songs = [];
            for (var key in response) {
                var song = response[key];
                songs.push(song)
            }
            var data = {
                songs: songs
            };
            $('#result').html('')

            {% raw %}
            var template = "<table id='allSongs' class='table table-hover'>{{#songs}}" +
                    "<tr><td class='table_title'>{{artist}}</td>" +
                    "<td class='table_song'>{{title}}</td>" +
                    "<td class='table_play'>" +
                    "<span data-url = {{url}} class='glyphicon glyphicon-plus song_url'></span>" +
                    "<a href='/loadSong?url={{url}}&name={{artist}} - {{title}}'><span data-url = {{url}} class='glyphicon glyphicon-download song_download'></span></a>" +
                    "</td></tr>" +
                    "{{/songs}}</table>";
            {% endraw %}

            var html = Mustache.to_html(template, data);
            $('#result').html(html);

            $('.song_url').click(player.playSong);
            $('.song_download').click(player.loadSong);
            $('.song_url_download').click(player.playSong);
        }
    </script>
{% endblock %}

