{% extends 'layout.twig' %}

{% block content %}

    <div class="soc_block" style="position: fixed; left: 184.5px; top: 60px; display: block;">
        <a class="soc soc_fb s_01" href="http://www.facebook.com/sharer.php?u=www.player.dev" title="Поделиться ссылкой в facebook">
            <strong><img alt="S_01" src="/images/s_01-fac537214d3eb6464b9e5c3c6355aa7e.png"></strong><span>0</span><em>&nbsp;</em>
        </a>
        <a class="soc soc_tw s_02" href="https://twitter.com/intent/tweet?original_referer=http://www.player.dev" title="Поделиться ссылкой в Twitter">
            <strong><img alt="S_02" src="/images/s_02-58b6166a449bdda4d363136c65239bfa.png"></strong><span>0</span><em>&nbsp;</em>
        </a>
        <a class="soc soc_vk s_03" href="http://vk.com/share.php?url=http://www.player.dev" title="Поделиться ссылкой в Vkontakte">
            <strong><img alt="S_03" src="/images/s_03-bb053a78ba2bf4e43941762b515b8de9.png"></strong><span>0</span><em>&nbsp;</em>
        </a>
    </div>

    <style>
        .soc_block {
            float: left;
            width: 40px;
        }
        .soc_block .soc {
            position: relative;
            float: left;
            margin-bottom: 10px;
        }
        .soc_block a {
            width: 40px;
        }
        .soc_block .soc:hover strong img {
            margin-top: -38px;
        }
        .soc_block .soc strong {
            display: block;
            height: 38px;
            overflow: hidden;
            border: 1px solid #e6e6e6;
        }
        .soc_block .soc span {
            display: block;
            height: 20px;
            background-color: #e6e6e6;
            font-family: 'ConquerorSansMedium';
            font-size: 10px;
            color: #878787;
            line-height: 20px;
            letter-spacing: 1px;
            text-align: center;
        }

        .soc_block .soc em {
            cursor: pointer;
            visibility: hidden;
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 40px;
            height: 20px;
            background-image: url(/images/plus-86234ef878ddd772dc0e7f8e0c59063a.png);
            background-repeat: no-repeat;
            background-position: 16px 6px;
        }
        .soc_block .soc em {
            background-color: #5d80a5;
        }
        .soc_block .soc:hover em {
            visibility: visible;
        }
    </style>

    {% if isAdmin == false %}
        <style>
            .glyphicon-download, #savePlayList, #loadPlayList {
                display: none;
            }
        </style>
    {% endif %}

    <div class="col-md-7">
        <div id="searchForm" class="col-md-12">
            <input type="text" class="form-control col-md-12"  id="trackName" >
            <button type="button" id="searchTrack" class="btn btn-primary">Поиск</button>
        </div>
        <div id="result" class="col-md-12"></div>
    </div>

    <div class="col-md-5">
        <div class="audio-player col-md-12">
            <h1 id="song-name">Не выбрано</h1>
            <audio id="audio-player" src="empty" type="audio/mp3" controls="controls"></audio>
            <input type='hidden' id='currentSongNumber' value='0'>
        </div><br>
        <div class="col-md-12" style="margin-top: 20px;">
            <button type="button" id="cleanPlayList" class="btn btn-danger">Очистить</button>
            <button type="button" id="savePlayList" class="btn btn-primary" data-toggle="modal" data-target="#saveModal">Сохранить</button>
            <button type="button" id="loadPlayList" class="btn btn-default" data-toggle="modal" data-target="#loadModal">Загрузить</button><br><br>
            <ul id="playList" class="list-group" style="width: 100%;"></ul>
        </div>
    </div>

    <div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="loadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Отмена</span></button>
                    <h4 class="modal-title" id="myModalLabel">Загрузить плей-лист</h4>
                </div>
                <div class="modal-body">
                    <select class="form-control" id="playLists">
                        {% for playList in playLists %}
                            <option value="{{ playList.id }}">{{ playList.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" id="loadPlayListSongs">Загрузить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Отмена</span></button>
                    <h4 class="modal-title" id="myModalLabel">Сохранить плей-лист</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control col-md-12" placeholder="Введите название плей-листа" id="playListName" required="255"><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" id="savePlayListName">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/web/js/player.js"></script>
    <script>
        var  playerObj;

        function displaySongs(response) {
            var songs = [];
            for (var key in response) {
                var song = response[key];
                songs.push(song)
            }
            var data = {
                songs: songs
            };
            $('#result').html('')

            {% raw %}
            var template = "<table id='allSongs' class='table table-hover'>{{#songs}}" +
                    "<tr><td class='table_title'>{{artist}}</td>" +
                    "<td class='table_song'>{{title}}</td>" +
                    "<td class='table_play'>" +
                    "<span data-url = {{url}} class='glyphicon glyphicon-plus song_url'></span>" +
                    "<a href='/loadSong?url={{url}}&name={{artist}} - {{title}}'><span data-url = {{url}} class='glyphicon glyphicon-download song_download'></span></a>" +
                    "</td></tr>" +
                    "{{/songs}}</table>";
            {% endraw %}

            var html = Mustache.to_html(template, data);
            $('#result').html(html);

            $('.song_url').click(player.playSong);
            $('.song_download').click(player.loadSong);
            $('.song_url_download').click(player.playSong);
        }
    </script>
{% endblock %}
